In [1]:
# We used this tutorial:
# https://github.com/susanli2016/Machine-Learning-with-Python/blob/master/Collaborative%20Filtering%20Model%20with%20TensorFlow.ipynb
# And we also used code from this tutorial:
# https://medium.com/@connectwithghosh/recommender-system-on-the-movielens-using-an-autoencoder-using-tensorflow-in-python-f13d3e8d600d
# Then, we integrated these two tutorials and edited the code from each of them in order to create
# a recommender that allows us to recommend a top 10 list of movies
# without needing to retrain for each new user

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE

In [3]:
rating = pd.read_csv('/Users/blakemyers/Desktop/data/ratings.csv', error_bad_lines=False, encoding='latin-1')

In [4]:
movie = pd.read_csv("/Users/blakemyers/Desktop/data/movies.csv", error_bad_lines=False, encoding='latin-1')

In [5]:
movie_rating = pd.merge(rating, movie, on = 'movieId')

In [6]:
cols = ['timestamp']

In [7]:
movie_rating.drop(cols, axis=1, inplace=True)

In [8]:
numrate_movie = movie_rating.groupby("title")["rating"].count().reset_index()

In [9]:
numrate_movie.rename({"rating": "ratecount_movie"}, axis=1, inplace=True)

In [10]:
numrate_movie = numrate_movie.query("ratecount_movie >= 20")

In [11]:
ratings20plus = pd.merge(numrate_movie, movie_rating, on = 'title', how = 'inner')

In [12]:
numrate_user = ratings20plus.groupby("userId")["rating"].count().reset_index()

In [13]:
numrate_user.rename({"rating": "ratecount_user"}, axis=1, inplace=True)

In [14]:
numrate_user = numrate_user.query("ratecount_user >= 20")

In [15]:
ur20plus = pd.merge(ratings20plus, numrate_user, on = "userId", how = "inner")

In [16]:
ur20plus = ur20plus.append(pd.DataFrame([["A.I. Artificial Intelligence (2001)",1,9999999,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)

In [17]:
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled

In [18]:
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [19]:
user_movie_matrix.head()

title,(500) Days of Summer (2009),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),13 Going on 30 (2004),"13th Warrior, The (1999)",1408 (2007),2001: A Space Odyssey (1968),2012 (2009),...,Young Frankenstein (1974),Young Guns (1988),Zack and Miri Make a Porno (2008),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),Â¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.777778,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.777778
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.555556,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
5,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000

In [20]:
X_train, X_test = train_test_split(user_movie_matrix, train_size=0.8)

In [21]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /Users/blakemyers/opt/anaconda3/envs/tf_environment/lib/python3.7/site-packages/tensorflow_core/python/compat/v2_compat.py:65: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [22]:
num_input = ur20plus['title'].nunique()
n_nodes_inpl = num_input  
n_nodes_hl1  = 256  
n_nodes_outl = num_input  
hidden_1_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_inpl+1,n_nodes_hl1]))}
output_layer_vals = {'weights':tf.Variable(tf.random_normal([n_nodes_hl1+1,n_nodes_outl]))}

In [23]:
input_layer = tf.placeholder('float', [None, num_input])
input_layer_const = tf.fill( [tf.shape(input_layer)[0], 1] ,1.0  )
input_layer_concat =  tf.concat([input_layer, input_layer_const], 1)
layer_1 = tf.nn.sigmoid(tf.matmul(input_layer_concat,hidden_1_layer_vals['weights']))
layer1_const = tf.fill( [tf.shape(layer_1)[0], 1] ,1.0  )
layer_concat =  tf.concat([layer_1, layer1_const], 1)
output_layer = tf.matmul( layer_concat,output_layer_vals['weights'])
output_true = tf.placeholder('float', [None, num_input])
meansq =    tf.reduce_mean(tf.square(output_layer - output_true))
learn_rate = 0.1
optimizer = tf.train.AdagradOptimizer(learn_rate).minimize(meansq)

WARNING:tensorflow:From /Users/blakemyers/opt/anaconda3/envs/tf_environment/lib/python3.7/site-packages/tensorflow_core/python/training/adagrad.py:76: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [24]:
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)
batch_size = 100
hm_epochs =200
tot_images = X_train.shape[0]

In [25]:
for epoch in range(hm_epochs):
    epoch_loss = 0
    
    for i in range(int(tot_images/batch_size)):
        epoch_x = X_train[ i*batch_size : (i+1)*batch_size ]
        _, c = sess.run([optimizer, meansq],\
               feed_dict={input_layer: epoch_x, \
               output_true: epoch_x})
        epoch_loss += c
        
    output_train = sess.run(output_layer,\
               feed_dict={input_layer:X_train})
    output_test = sess.run(output_layer,\
                   feed_dict={input_layer:X_test})
        
    print('MSE train', MSE(output_train, X_train),'MSE test', MSE(output_test, X_test))      
    print('Epoch', epoch, '/', hm_epochs, 'loss:',epoch_loss)

MSE train 91.82437661412699 MSE test 92.10847704744378
Epoch 0 / 200 loss: 427.97928619384766
MSE train 76.20612836340655 MSE test 76.80663097421993
Epoch 1 / 200 loss: 341.9962387084961
MSE train 65.95440004303283 MSE test 66.72087202261335
Epoch 2 / 200 loss: 288.3486785888672
MSE train 58.7957680528673 MSE test 59.65506569845345
Epoch 3 / 200 loss: 252.37351989746094
MSE train 53.55177847259794 MSE test 54.47840036702652
Epoch 4 / 200 loss: 226.79779052734375
MSE train 49.5754278476019 MSE test 50.55931642177745
Epoch 5 / 200 loss: 207.84182357788086
MSE train 46.470221322685575 MSE test 47.50893099301113
Epoch 6 / 200 loss: 193.3106689453125
MSE train 43.99391545289107 MSE test 45.08504024363708
Epoch 7 / 200 loss: 181.86090850830078
MSE train 41.979998188160735 MSE test 43.125833081700016
Epoch 8 / 200 loss: 172.66121292114258
MSE train 40.3065883587741 MSE test 41.51318499842421
Epoch 9 / 200 loss: 165.11857986450195
MSE train 38.88831852444306 MSE test 40.162882398828394
Epoch 10 / 200 loss: 158.80183792114258
MSE train 37.666465878456776 MSE test 39.0135216909417
Epoch 11 / 200 loss: 153.41328048706055
MSE train 36.59901170287452 MSE test 38.0197324795088
Epoch 12 / 200 loss: 148.7431983947754
MSE train 35.65642210875836 MSE test 37.14820245172196
Epoch 13 / 200 loss: 144.64339065551758
MSE train 34.81506123671794 MSE test 36.37426164233232
Epoch 14 / 200 loss: 141.00763702392578
MSE train 34.056026170527716 MSE test 35.67957711206102
Epoch 15 / 200 loss: 137.7476806640625
MSE train 33.365236573248744 MSE test 35.050694141984835
Epoch 16 / 200 loss: 134.79551696777344
MSE train 32.7287174932386 MSE test 34.4752167282683
Epoch 17 / 200 loss: 132.09634399414062
MSE train 32.135636809761 MSE test 33.94208655333427
Epoch 18 / 200 loss: 129.59704399108887
MSE train 31.579568962304922 MSE test 33.443715895163265
Epoch 19 / 200 loss: 127.26154518127441
MSE train 31.05415500870559 MSE test 32.97392936803888
Epoch 20 / 200 loss: 125.06710243225098
MSE train 30.555617977488833 MSE test 32.528108486147744
Epoch 21 / 200 loss: 122.99006843566895
MSE train 30.08238236925251 MSE test 32.10317946151015
Epoch 22 / 200 loss: 121.01840209960938
MSE train 29.63090761052809 MSE test 31.695818922644644
Epoch 23 / 200 loss: 119.14375877380371
MSE train 29.197330983318757 MSE test 31.302744016204425
Epoch 24 / 200 loss: 117.3513355255127
MSE train 28.779339080666034 MSE test 30.92190563717208
Epoch 25 / 200 loss: 115.62743949890137
MSE train 28.375190604168683 MSE test 30.552534793194503
Epoch 26 / 200 loss: 113.96432304382324
MSE train 27.982467202956055 MSE test 30.19374374587825
Epoch 27 / 200 loss: 112.35430908203125
MSE train 27.598724156944385 MSE test 29.844197671413006
Epoch 28 / 200 loss: 110.78640747070312
MSE train 27.222603815649126 MSE test 29.502672945484274
Epoch 29 / 200 loss: 109.2514820098877
MSE train 26.854529769954812 MSE test 29.168221692392954
Epoch 30 / 200 loss: 107.74673843383789
MSE train 26.495186209985036 MSE test 28.840613494635782
Epoch 31 / 200 loss: 106.27641677856445
MSE train 26.143210904898005 MSE test 28.519246664951005
Epoch 32 / 200 loss: 104.83957862854004
MSE train 25.798577002433593 MSE test 28.203727718057525
Epoch 33 / 200 loss: 103.43217277526855
MSE train 25.459509536172025 MSE test 27.89328721360544
Epoch 34 / 200 loss: 102.0531120300293
MSE train 25.12471875974717 MSE test 27.587318957751396
Epoch 35 / 200 loss: 100.69442558288574
MSE train 24.79441255711656 MSE test 27.285718092205286
Epoch 36 / 200 loss: 99.35308265686035
MSE train 24.46913236264419 MSE test 26.988360763131016
Epoch 37 / 200 loss: 98.03030586242676
MSE train 24.14918954401829 MSE test 26.695144893313707
Epoch 38 / 200 loss: 96.72747039794922
MSE train 23.834344126250837 MSE test 26.406034291135374
Epoch 39 / 200 loss: 95.44489860534668
MSE train 23.524248244034993 MSE test 26.121161761315996
Epoch 40 / 200 loss: 94.18162727355957
MSE train 23.218682468827016 MSE test 25.840613204404896
Epoch 41 / 200 loss: 92.93706893920898
MSE train 22.917826391313255 MSE test 25.564350287463704
Epoch 42 / 200 loss: 91.7112045288086
MSE train 22.622282763993123 MSE test 25.292503419947643
Epoch 43 / 200 loss: 90.50539207458496
MSE train 22.33225202542077 MSE test 25.025089826541734
Epoch 44 / 200 loss: 89.32189559936523
MSE train 22.04719870350018 MSE test 24.761708153355265
Epoch 45 / 200 loss: 88.16046142578125
MSE train 21.766626420060238 MSE test 24.501785851420077
Epoch 46 / 200 loss: 87.01824760437012
MSE train 21.490882359391506 MSE test 24.245141897659884
Epoch 47 / 200 loss: 85.89418411254883
MSE train 21.22014876285873 MSE test 23.991731155830852
Epoch 48 / 200 loss: 84.79031181335449
MSE train 20.954352369542285 MSE test 23.74139203515791
Epoch 49 / 200 loss: 83.70700645446777
MSE train 20.69316001128376 MSE test 23.49385528696126
Epoch 50 / 200 loss: 82.64366912841797
MSE train 20.43602843368783 MSE test 23.248780499282585
Epoch 51 / 200 loss: 81.59872245788574
MSE train 20.182423001049315 MSE test 23.005849428719927
Epoch 52 / 200 loss: 80.56993675231934
MSE train 19.932186039060298 MSE test 22.764895180835623
Epoch 53 / 200 loss: 79.5554027557373
MSE train 19.68571620987435 MSE test 22.526030316896573
Epoch 54 / 200 loss: 78.55510330200195
MSE train 19.443157528793655 MSE test 22.289243124324756
Epoch 55 / 200 loss: 77.57059669494629
MSE train 19.204006245717753 MSE test 22.053878757839342
Epoch 56 / 200 loss: 76.60136032104492
MSE train 18.96792754205283 MSE test 21.81942516164469
Epoch 57 / 200 loss: 75.64500617980957
MSE train 18.734784306726215 MSE test 21.58582590945088
Epoch 58 / 200 loss: 74.70029640197754
MSE train 18.50437437436747 MSE test 21.353263748669107
Epoch 59 / 200 loss: 73.76652336120605
MSE train 18.276498367024352 MSE test 21.122120268991615
Epoch 60 / 200 loss: 72.84297370910645
MSE train 18.05104115692159 MSE test 20.89289073223043
Epoch 61 / 200 loss: 71.92916488647461
MSE train 17.828259426987263 MSE test 20.666131850131936
Epoch 62 / 200 loss: 71.02502632141113
MSE train 17.60931030485614 MSE test 20.44256587257671
Epoch 63 / 200 loss: 70.13291931152344
MSE train 17.395216865014792 MSE test 20.222987161687758
Epoch 64 / 200 loss: 69.25836944580078
MSE train 17.185407537121304 MSE test 20.007551411160975
Epoch 65 / 200 loss: 68.40378761291504
MSE train 16.978921578065556 MSE test 19.79576954610557
Epoch 66 / 200 loss: 67.56623268127441
MSE train 16.77503649996093 MSE test 19.58700440528278
Epoch 67 / 200 loss: 66.74195098876953
MSE train 16.573137014657483 MSE test 19.38067645420367
Epoch 68 / 200 loss: 65.92814254760742
MSE train 16.372702388794362 MSE test 19.176292519001056
Epoch 69 / 200 loss: 65.12245750427246
MSE train 16.17332847785944 MSE test 18.973426645989264
Epoch 70 / 200 loss: 64.32303142547607
MSE train 15.974785055986557 MSE test 18.77177188218203
Epoch 71 / 200 loss: 63.52827548980713
MSE train 15.77733734757539 MSE test 18.57139603482784
Epoch 72 / 200 loss: 62.73734474182129
MSE train 15.581808671737031 MSE test 18.37269184115335
Epoch 73 / 200 loss: 61.95182704925537
MSE train 15.389038803999805 MSE test 18.17600541035376
Epoch 74 / 200 loss: 61.175475120544434
MSE train 15.199461938234686 MSE test 17.98156181153856
Epoch 75 / 200 loss: 60.41119575500488
MSE train 15.013276273767701 MSE test 17.789563334529277
Epoch 76 / 200 loss: 59.66029644012451
MSE train 14.830227646588968 MSE test 17.60008733372946
Epoch 77 / 200 loss: 58.92280197143555
MSE train 14.649806061928201 MSE test 17.41310286299613
Epoch 78 / 200 loss: 58.19694519042969
MSE train 14.471531284587341 MSE test 17.228615975710415
Epoch 79 / 200 loss: 57.480417251586914
MSE train 14.295150538437039 MSE test 17.046710055353337
Epoch 80 / 200 loss: 56.77136421203613
MSE train 14.12067071244791 MSE test 16.867429007147347
Epoch 81 / 200 loss: 56.06901454925537
MSE train 13.948277899936667 MSE test 16.690721360828075
Epoch 82 / 200 loss: 55.37369632720947
MSE train 13.778155645920549 MSE test 16.516506204043736
Epoch 83 / 200 loss: 54.68627166748047
MSE train 13.610504823565858 MSE test 16.344791287093557
Epoch 84 / 200 loss: 54.00764846801758
MSE train 13.445531011957987 MSE test 16.17567773420228
Epoch 85 / 200 loss: 53.339003562927246

MSE train 13.283282561645464 MSE test 16.009164926403045
Epoch 86 / 200 loss: 52.68117809295654
MSE train 13.123648770389066 MSE test 15.845164044195277
Epoch 87 / 200 loss: 52.0341796875
MSE train 12.966517082794113 MSE test 15.683654919334026
Epoch 88 / 200 loss: 51.39748477935791
MSE train 12.811893650015275 MSE test 15.524749099204422
Epoch 89 / 200 loss: 50.77082347869873
MSE train 12.659799238307475 MSE test 15.368600173126678
Epoch 90 / 200 loss: 50.15429973602295
MSE train 12.510174642266781 MSE test 15.21531119883911
Epoch 91 / 200 loss: 49.5479621887207
MSE train 12.362916592013345 MSE test 15.064925840944651
Epoch 92 / 200 loss: 48.951504707336426
MSE train 12.217931085943686 MSE test 14.91744855062708
Epoch 93 / 200 loss: 48.364545822143555
MSE train 12.075152845288061 MSE test 14.772836509883255
Epoch 94 / 200 loss: 47.786810874938965
MSE train 11.934489560466295 MSE test 14.630966755713683
Epoch 95 / 200 loss: 47.218079566955566
MSE train 11.795756834696496 MSE test 14.491654188758718
Epoch 96 / 200 loss: 46.65781021118164
MSE train 11.65876103741986 MSE test 14.354733488522953
Epoch 97 / 200 loss: 46.10505294799805
MSE train 11.523414291456936 MSE test 14.220119133656233
Epoch 98 / 200 loss: 45.55896759033203
MSE train 11.389829812985955 MSE test 14.08781021957612
Epoch 99 / 200 loss: 45.01930904388428
MSE train 11.258329611332046 MSE test 13.957853697219736
Epoch 100 / 200 loss: 44.486711502075195
MSE train 11.129473454323302 MSE test 13.830348161912633
Epoch 101 / 200 loss: 43.96264457702637
MSE train 11.003787095369198 MSE test 13.705401346140077
Epoch 102 / 200 loss: 43.44949150085449
MSE train 10.88105538039453 MSE test 13.582865096702879
Epoch 103 / 200 loss: 42.948659896850586
MSE train 10.760742615652699 MSE test 13.462449483496947
Epoch 104 / 200 loss: 42.45876407623291
MSE train 10.642464812011019 MSE test 13.344015411761257
Epoch 105 / 200 loss: 41.97780704498291
MSE train 10.526133227645298 MSE test 13.22765911361958
Epoch 106 / 200 loss: 41.50462245941162
MSE train 10.41177986401384 MSE test 13.11345347574737
Epoch 107 / 200 loss: 41.03922462463379
MSE train 10.299417497303146 MSE test 13.00133620062155
Epoch 108 / 200 loss: 40.58184337615967
MSE train 10.188964119631091 MSE test 12.891245541628097
Epoch 109 / 200 loss: 40.13248825073242
MSE train 10.080134960245498 MSE test 12.783122766544606
Epoch 110 / 200 loss: 39.69065284729004
MSE train 9.972464009835813 MSE test 12.676905687238508
Epoch 111 / 200 loss: 39.25490760803223
MSE train 9.865460748422855 MSE test 12.57251035623873
Epoch 112 / 200 loss: 38.82313251495361
MSE train 9.758894196438114 MSE test 12.469684025425751
Epoch 113 / 200 loss: 38.39346790313721
MSE train 9.65277071669022 MSE test 12.367930665534036
Epoch 114 / 200 loss: 37.96545219421387
MSE train 9.547636956426853 MSE test 12.267020410884466
Epoch 115 / 200 loss: 37.5397834777832
MSE train 9.444665118110146 MSE test 12.16747747447863
Epoch 116 / 200 loss: 37.11991786956787
MSE train 9.344277428035776 MSE test 12.069667748165543
Epoch 117 / 200 loss: 36.70988941192627
MSE train 9.246323754409838 MSE test 11.973496873345319
Epoch 118 / 200 loss: 36.310383796691895
MSE train 9.150375791482027 MSE test 11.878688535819759
Epoch 119 / 200 loss: 35.92046070098877
MSE train 9.056102781639524 MSE test 11.78498255957064
Epoch 120 / 200 loss: 35.53810214996338
MSE train 8.963530099847734 MSE test 11.692308574046551
Epoch 121 / 200 loss: 35.1625280380249
MSE train 8.872333452341815 MSE test 11.60056280346934
Epoch 122 / 200 loss: 34.79341506958008
MSE train 8.782312352799487 MSE test 11.509650808198549
Epoch 123 / 200 loss: 34.4291729927063
MSE train 8.693737604632481 MSE test 11.419637021862899
Epoch 124 / 200 loss: 34.069870471954346
MSE train 8.6068334391343 MSE test 11.33063091277479
Epoch 125 / 200 loss: 33.716957092285156
MSE train 8.521496358464368 MSE test 11.242714246186571
Epoch 126 / 200 loss: 33.37075471878052
MSE train 8.437674105946412 MSE test 11.155998981727649
Epoch 127 / 200 loss: 33.03060865402222
MSE train 8.355394940839355 MSE test 11.070579637467212
Epoch 128 / 200 loss: 32.6963586807251
MSE train 8.274626946218323 MSE test 10.986440528444442
Epoch 129 / 200 loss: 32.36808490753174
MSE train 8.19521750994568 MSE test 10.903428350939514
Epoch 130 / 200 loss: 32.04554891586304
MSE train 8.116908502532361 MSE test 10.82130656927247
Epoch 131 / 200 loss: 31.72800636291504
MSE train 8.039528721318176 MSE test 10.739982387583453
Epoch 132 / 200 loss: 31.41443967819214
MSE train 7.9633869409654405 MSE test 10.659882285352637
Epoch 133 / 200 loss: 31.104841709136963
MSE train 7.888773644196124 MSE test 10.581495282710893
Epoch 134 / 200 loss: 30.800944805145264
MSE train 7.815546822159384 MSE test 10.5048432023128
Epoch 135 / 200 loss: 30.50332546234131
MSE train 7.74347541118596 MSE test 10.42968151333076
Epoch 136 / 200 loss: 30.211187839508057
MSE train 7.672430047044078 MSE test 10.355772312199596
Epoch 137 / 200 loss: 29.923712730407715
MSE train 7.602348567182217 MSE test 10.282928806896908
Epoch 138 / 200 loss: 29.640498638153076
MSE train 7.533183516507257 MSE test 10.211005008148797
Epoch 139 / 200 loss: 29.36134624481201
MSE train 7.464900983749376 MSE test 10.139922838163866
Epoch 140 / 200 loss: 29.086061477661133
MSE train 7.397531783616598 MSE test 10.069722420211864
Epoch 141 / 200 loss: 28.814528465270996
MSE train 7.331150444913449 MSE test 10.00052581731168
Epoch 142 / 200 loss: 28.546892642974854
MSE train 7.265739045821748 MSE test 9.932373634026165
Epoch 143 / 200 loss: 28.283323764801025
MSE train 7.2012313512024635 MSE test 9.86522726063157
Epoch 144 / 200 loss: 28.02354669570923
MSE train 7.137636746917007 MSE test 9.799093595265964
Epoch 145 / 200 loss: 27.767241954803467
MSE train 7.075038390454348 MSE test 9.734033403859994
Epoch 146 / 200 loss: 27.514497756958008
MSE train 7.013515618351351 MSE test 9.670097927504328
Epoch 147 / 200 loss: 27.265664100646973
MSE train 6.953081201820993 MSE test 9.607278974007265
Epoch 148 / 200 loss: 27.021021366119385
MSE train 6.893668918046414 MSE test 9.545499503977513
Epoch 149 / 200 loss: 26.780575275421143
MSE train 6.835158647773799 MSE test 9.484635119648184
Epoch 150 / 200 loss: 26.544018268585205
MSE train 6.777410665944908 MSE test 9.424548337320942
Epoch 151 / 200 loss: 26.31085205078125
MSE train 6.720297065197329 MSE test 9.365121551054921
Epoch 152 / 200 loss: 26.08053731918335
MSE train 6.663727247703246 MSE test 9.306283547411907
Epoch 153 / 200 loss: 25.852595806121826
MSE train 6.607657377365073 MSE test 9.248019438224052
Epoch 154 / 200 loss: 25.626717567443848
MSE train 6.5520760140091205 MSE test 9.190360935332206
Epoch 155 / 200 loss: 25.402756214141846
MSE train 6.4969805700482794 MSE test 9.133367179593339
Epoch 156 / 200 loss: 25.18069553375244
MSE train 6.442360505384455 MSE test 9.077108047182774
Epoch 157 / 200 loss: 24.96053409576416
MSE train 6.388194065451021 MSE test 9.021644511226214
Epoch 158 / 200 loss: 24.74222421646118
MSE train 6.334465499164424 MSE test 8.967014307396031
Epoch 159 / 200 loss: 24.525670528411865
MSE train 6.281185613424167 MSE test 8.913226900720222
Epoch 160 / 200 loss: 24.31080722808838
MSE train 6.22839558239807 MSE test 8.860264155914495
Epoch 161 / 200 loss: 24.09768295288086
MSE train 6.1761459886201 MSE test 8.808077502554111
Epoch 162 / 200 loss: 23.886475563049316
MSE train 6.124464812321861 MSE test 8.756583808998961
Epoch 163 / 200 loss: 23.677404403686523
MSE train 6.073334000604178 MSE test 8.705668449935368
Epoch 164 / 200 loss: 23.470587730407715
MSE train 6.022692474026836 MSE test 8.655196440215883
Epoch 165 / 200 loss: 23.265952110290527
MSE train 5.972482857281524 MSE test 8.605041673743822
Epoch 166 / 200 loss: 23.06326961517334
MSE train 5.922731009060978 MSE test 8.5551416349478
Epoch 167 / 200 loss: 22.862377643585205
MSE train 5.873584548455194 MSE test 8.50555243396661
Epoch 168 / 200 loss: 22.663496017456055
MSE train 5.8252232513660305 MSE test 8.456402913913172
Epoch 169 / 200 loss: 22.46730136871338
MSE train 5.777724527281224 MSE test 8.407763137375703
Epoch 170 / 200 loss: 22.274456024169922
MSE train 5.73104562165594 MSE test 8.359627409092951
Epoch 171 / 200 loss: 22.085137844085693
MSE train 5.68509196899801 MSE test 8.311964330456465
Epoch 172 / 200 loss: 21.89908790588379
MSE train 5.639786931437801 MSE test 8.264758972076082
Epoch 173 / 200 loss: 21.715913772583008

MSE train 5.595101437313499 MSE test 8.21803770953921
Epoch 174 / 200 loss: 21.53531312942505
MSE train 5.551058119451032 MSE test 8.171859928014547
Epoch 175 / 200 loss: 21.35715961456299
MSE train 5.507711777907041 MSE test 8.126277190492733
Epoch 176 / 200 loss: 21.181525707244873
MSE train 5.46506697193629 MSE test 8.081298714624003
Epoch 177 / 200 loss: 21.00864267349243
MSE train 5.423027701443615 MSE test 8.036888156696826
Epoch 178 / 200 loss: 20.838512420654297
MSE train 5.381471418589931 MSE test 7.993000854081835
Epoch 179 / 200 loss: 20.67074966430664
MSE train 5.340311329988758 MSE test 7.94961247967766
Epoch 180 / 200 loss: 20.504913330078125
MSE train 5.299500629874961 MSE test 7.906715363452576
Epoch 181 / 200 loss: 20.340735912322998
MSE train 5.259002201334662 MSE test 7.8643018496424135
Epoch 182 / 200 loss: 20.17808198928833
MSE train 5.218757646855353 MSE test 7.822359361064428
Epoch 183 / 200 loss: 20.016815185546875
MSE train 5.178695944567854 MSE test 7.780889248283175
Epoch 184 / 200 loss: 19.856698036193848
MSE train 5.138815489634606 MSE test 7.739947206580711
Epoch 185 / 200 loss: 19.69748544692993
MSE train 5.099375806430687 MSE test 7.699684240339062
Epoch 186 / 200 loss: 19.539331436157227
MSE train 5.060837193946904 MSE test 7.660286327211169
Epoch 187 / 200 loss: 19.38349723815918
MSE train 5.023329617739015 MSE test 7.621785017426084
Epoch 188 / 200 loss: 19.231616973876953
MSE train 4.9867240148967245 MSE test 7.584112913316823
Epoch 189 / 200 loss: 19.083850860595703
MSE train 4.950884494953536 MSE test 7.547213868429963
Epoch 190 / 200 loss: 18.939565181732178
MSE train 4.915696733432314 MSE test 7.511047063252526
Epoch 191 / 200 loss: 18.79820203781128
MSE train 4.881062163836249 MSE test 7.4755755067124365
Epoch 192 / 200 loss: 18.659307956695557
MSE train 4.846892173596139 MSE test 7.440754179401584
Epoch 193 / 200 loss: 18.5225248336792
MSE train 4.813114222771523 MSE test 7.406528551588843
Epoch 194 / 200 loss: 18.38756227493286
MSE train 4.779719820943353 MSE test 7.372846928256549
Epoch 195 / 200 loss: 18.25424575805664
MSE train 4.746814307614442 MSE test 7.339684057000823
Epoch 196 / 200 loss: 18.122732639312744
MSE train 4.71450825709714 MSE test 7.307031881183467
Epoch 197 / 200 loss: 17.9935245513916
MSE train 4.68276765508251 MSE test 7.274859044070459
Epoch 198 / 200 loss: 17.86687421798706
MSE train 4.651474299398784 MSE test 7.243109462062174
Epoch 199 / 200 loss: 17.742450714111328

In [26]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [27]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999999]

         userId                              title    rating
735134  9999999              Simple Plan, A (1998)  7.316847
735371  9999999                     Witness (1985)  7.061924
734766  9999999           Leaving Las Vegas (1995)  7.045127
735301  9999999              Tropic Thunder (2008)  6.941782
734854  9999999            Mighty Aphrodite (1995)  6.583347
734103  9999999  10 Things I Hate About You (1999)  6.565654
734985  9999999          Planet of the Apes (1968)  6.465528
734708  9999999   Island of Dr. Moreau, The (1996)  6.461706
735285  9999999                     Top Gun (1986)  6.397721
734233  9999999          Better Off Dead... (1985)  6.371764

In [28]:
ur20plus = ur20plus.append(pd.DataFrame([["Hulk (2003)",1,9999991,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [29]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [30]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999991] #an example of the top 10 recommendations for the above
# new user who only rated one movie, i.e., "Hulk (2003)", with a 5/5.

         userId                                title    rating
734950  9999991                      Outbreak (1995)  7.819874
734502  9999991     Fast and the Furious, The (2001)  7.736551
734310  9999991                     Cape Fear (1991)  7.396494
734341  9999991                    Cinderella (1950)  7.045932
734110  9999991         2001: A Space Odyssey (1968)  6.947413
734125  9999991  A.I. Artificial Intelligence (2001)  6.777423
735383  9999991    X-Men: Days of Future Past (2014)  6.678552
734673  9999991             I Heart Huckabees (2004)  6.576962
734901  9999991                  My Fair Lady (1964)  6.494349
734207  9999991                     Backdraft (1991)  6.404796

In [31]:
ur20plus = ur20plus.append(pd.DataFrame([["Hulk (2003)",1,9999992,4370,5,"genre",1]], columns =ur20plus.columns), ignore_index=True)
ur20plus = ur20plus.append(pd.DataFrame([["Aliens (1986)",1,9999992,4370,3,"genre",1]], columns =ur20plus.columns), ignore_index=True)
ur20plus = ur20plus.append(pd.DataFrame([["Brave (2012)",1,9999992,4370,4,"genre",1]], columns =ur20plus.columns), ignore_index=True)
scaler = MinMaxScaler()
ur20plus['rating'] = ur20plus['rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(ur20plus['rating'].values.reshape(-1,1)))
ur20plus['rating'] = rating_scaled
ur20plus = ur20plus.drop_duplicates(['userId', 'title'])
user_movie_matrix = ur20plus.pivot(index='userId', columns='title', values='rating')
user_movie_matrix.fillna(0, inplace=True)

In [32]:
pred_data = pd.DataFrame()
preds = sess.run(output_layer, feed_dict={input_layer: user_movie_matrix})
pred_data = pred_data.append(pd.DataFrame(preds))
pred_data = pred_data.stack().reset_index(name='rating')
pred_data.columns = ['userId', 'title', 'rating']
users = user_movie_matrix.index.tolist()
movies = user_movie_matrix.columns.tolist()
pred_data['userId'] = pred_data['userId'].map(lambda value: users[value])
pred_data['title'] = pred_data['title'].map(lambda value: movies[value])
keys = ['userId', 'title']
index_1 = pred_data.set_index(keys).index
index_2 = ur20plus.set_index(keys).index
top_ten_ranked = pred_data[~index_1.isin(index_2)]
top_ten_ranked = top_ten_ranked.sort_values(['userId', 'rating'], ascending=[True, False])
top_ten_ranked = top_ten_ranked.groupby('userId').head(10)

In [33]:
top_ten_ranked.loc[top_ten_ranked['userId'] == 9999992] #an example of the top 10 recommendations for the above
# new user who rated three movies, i.e., "Hulk (2003)" with a 5/5, "Aliens (1986)" with a 3/5, and "Brave (2012)"
# with a 4/5.

         userId                                title     rating
735422  9999992  A.I. Artificial Intelligence (2001)  10.394133
735799  9999992     Fast and the Furious, The (2001)  10.382468
736247  9999992                      Outbreak (1995)   9.191101
736059  9999992            Lawnmower Man, The (1992)   8.967257
736390  9999992                School of Rock (2003)   8.936007
736358  9999992  Rogue One: A Star Wars Story (2016)   8.628779
735880  9999992                    Goldfinger (1964)   8.338116
736063  9999992             Leaving Las Vegas (1995)   8.093570
736151  9999992              Mighty Aphrodite (1995)   8.018227
735561  9999992                   Blue Velvet (1986)   7.955853